{% extends 'base.html' %}

{% load widget_tweaks %}

{% block body %}
<style>
  html,body{
      margin: 50px 10px 5px 10px;
  }
</style>

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-8">Допомога з форматуванням тексту</h1><hr>
        <p class="lead">
                <code>&lt;strong&gt;Тут буде жирний шрифт&lt;/strong&gt;</code> = <strong>Жирний шрифт</strong>
        </p><hr>
        <p class="lead">
                <code>&lt;i&gt;Тут буде курсив&lt;/i&gt;</code> = <i>Курсив</i>
        </p><hr>
        <p class="lead">
                <pre><code>&lt;ul&gt;
&lt;li&gt;Це елемент 1&lt;/li&gt;
&lt;li&gt;Це елемент 2&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<ul><li>Елемент 1</li><li>Елемент 2</li></ul>
        </p><hr>
        <p class="lead">
                <code>&lt;br&gt;</code> = Новий рядок.
        </p><hr>

        <p class="lead"> Використовуйте цей рядок щоб завантажити зображення, або оновити ім'я зображення після завантаження.</p>
        <div class="row" >
            <div class="col-sm-10" >
                <div style='border:2px solid black;' class='p-3'>
                <code id="code">&lt;img class="img-fluid postimg" src="/media/post_images/назва_зображення_з_розширенням"&gt;</code>
            </div>
            </div>
            <div class="col-sm-2">
                <button class="btn-primary" onclick="copyToClipboard('#code')">копіювати</button>
            </div>
        </div>
    </div>
</div>

{% for d in documentdata %}

{{d}}<br>
{{d.image}}<br>
{{d.image.url}}<br>


{% endfor %}
<br><br><hr>

<h3>Редагуємо пост -</h3><hr>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
    {% endfor %}

{% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

        {% render_field field class="form-control" %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
<br>
  <hr><br>
    {{ formset.management_form }}
    {% for form in formset %}
    {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
     {% endfor %}
    {% endfor %}


    <button type="submit" class="btn btn-success">Підтвердити</button>
    <a href="{% url 'homepage' %}" class="btn btn-danger">Відмінити</a>
  </form>


{% endblock %}